{% extends "base.html.twig" %}
{% block title %}
	Client{{ parent() }}
{% endblock %}
{% block body %}
	<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="dashboard">
		<div class="w3-center">
			<h1 class="w3-wide">TABLEAU DE BORD</h1>
		</div>

		<h3 class="w3-wide w3-center">Liste des Commandes</h3>

		{% if activeCommande is not null %}
			<table class="w3-table-all" style="margin-bottom:100px; margin-top:50px;">
				<tr class="w3-padding">
					<th>Commande Active</th>
					<th>Commande prise le
						{{ activeCommande.creationDate|date('d/m/Y à G:i:s', 'Europe/Paris') }}</th>
					<th>Prix total :
						{{ activeCommande.totalPrice }}
					</th>
					<th>
						<a href="{{ path('commande_validate',{"commandeId":activeCommande.id}) }}">
							<button class="w3-button w3-blue-gray" style="float:right;">Valider</button>
						</a>
					</th>
				</tr>
				<tr class="w3-padding">
					<th>Nom du Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
				</tr>
				{% for reservation in activeCommande.reservations %}
					<tr class="w3-padding">
						<th>{{ reservation.produit.name }}</th>
						<th>{{ reservation.produit.price }}€</th>
						<th>{{ reservation.quantity }}</th>
						<th>
							<a href="{{ path('reservation_delete',{"reservationId":reservation.id}) }}">
								<button class="w3-button w3-red" style="float:right;">Supprimer</button>
							</a>
						</th>
					</tr>
				{% endfor %}
				<tr class="w3-padding">
					<th>
						<a href="{{ path('commande_delete',{"commandeId":activeCommande.id}) }}">
							<button class="w3-button w3-red" style="float:right;">Supprimer la commande</button>
						</a>
					</th>
				</tr>
			</table>
		{% else %}
			<p>
				<b>Vous n'avez pas de commande en cours.</b>
			</p>
		{% endif %}

		<h3 class="w3-wide w3-center">Commandes Validées</h3>
		{% if commandes is not empty %}
			{% for commande in commandes %}
				<table class="w3-table-all" style="margin-bottom:100px;">
					<tr class="w3-padding">
						<th>Commande Validée</th>
						<th>Commande prise le
							{{ commande.creationDate|date('d/m/Y à G:i:s', 'Europe/Paris') }}</th>
						<th>Prix total :
							{{ commande.totalPrice }}</th>
					</tr>
					<tr class="w3-padding">
						<th>Nom du Produit</th>
						<th>Prix</th>
						<th>Quantité</th>
					</tr>
					{% for reservation in commande.reservations %}
						<tr class="w3-padding">
							<th>{{ reservation.produit.name }}</th>
							<th>{{ reservation.produit.price }}€</th>
							<th>{{ reservation.quantity }}</th>
						</tr>
					{% endfor %}
				</table>
			{% endfor %}
		{% else %}
			<p>
				<b>Votre historique est vide pour l'instant.</b>
			</p>
		{% endif %}
	</div>
{% endblock %}
