{% extends "base.html.twig" %}
{% block title %}
	Client{{ parent() }}
{% endblock %}
{% block body %}

	<div class="container-fluid p-5">
		<h3>Votre commande</h3>
		<div class="container">

			<table class="table mt-5">
				<thead>
					<tr>
						<th scope="col">Numéro de commande</th>
						<th scope="col">Adresse</th>
						<th scope="col">Statut</th>
						<th scope="col">Date de commande</th>
						<th scope="col">Produit</th>
						<th scope="col">Prix</th>
					</tr>
				</thead>
				<tbody>
					{% set i = 0 %}
					{% for commande in commandes %}
						<tr>
							<th scope="row">{{ commande.id }}</th>
							<td>{{ commande.adresse }}</td>
							<td>{{ commande.statut }}</td>
							<td>{{ commande.creationDate|date('Le d/m/Y à h:i:s') }}</td>
							{% for reservation in commande.reservations %}
								<td>{{ reservation.produit.name }}</td>
								<td>{{ reservation.produit.price }}€</td>
								<td>
									{#! style : coller les deux colonnes et placer le bouton #}
									<a href="{{ path('delete_reservation',{"reservationId":reservation.id}) }}">
										<button class="btn btn-danger" style="display : {{ displayDeleteBtn[i] }};">Supprimer</button>
									</a>
								</td>
							{% endfor %}
							{% set i = i + 1 %}
							<td>
								<a href="{{ path('confirm_command',{"commandId":commande.id}) }}">
									<button class="btn btn-success">Valider</button>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}
